:root {
  /* common */
  --color-success: #27b274;
  --color-success-70: #27b274b3;
  --color-error: #ff8080;
  --color-error-10: #ff80801a;

  /* text */
  --color-text-primary: #4a4e71;
  --color-text-secondary: #6f91bc;
  --color-text-success: var(--color-success);
  --color-text-error: var(--color-error);
  --color-text-0: #fff;

  /* backgrounds */
  --color-bg-0: #fff;

  /* icons */
  --color-icon-default: #6f91bc;
  --color-icon-success: var(--color-success);
  --color-icon-error: var(--color-error);

  /* borders */
  --color-border-default: transparent;
  --color-border-focused: #6f91bc;
  --color-border-success: var(--color-success);
  --color-border-error: var(--color-error);

  /* gradients */
  --gradient-primary: linear-gradient(135deg, #70c3ff 0%, #4b65ff 100%);
  --gradient-bg-app: linear-gradient(180deg, #f4f9ff 0%, #e0edfb 100%);
}
